.spoiler:not(.active) {
    display: none;
}
.black {
    background-color: #6dd4e4;
    width: 100%;
    height: 1rem;
}
.black:not(.active) {
    display: none;
}
a{
    text-decoration: none;
    color: #6dd4e4;
}