#parent {
    text-align: center;
}
#calendar {
    display: inline-block;
}
#calendar td, #calendar th {
    padding: 5px 12px;
    border: 1px solid #6dd2e4;
    text-align: center;
    border-radius: 5px;
}

#calendar .nav, #calendar .info {
    text-align: center;
}
#calendar a {
    color: #6dd2e4;
    font-size: 25px;
    text-decoration: none;
}
#calendar a:hover {
    color: rgb(9, 3, 3);
}
#calendar .active {
    color: rgb(13, 4, 4);
}