body {
    text-align: center;
}
#input, #list {
    display: inline-block;
}
#list {
    padding: 0;
    list-style-type: none;
    color: #6dd8e4;
}
#list span {
    margin-right: 5px;
}
#list .remove, #list .mark {
    color: #6dd8e4;
    cursor: pointer;
}
#list .remove:hover, #list .mark:hover {
    text-decoration: none;
}
#list .done {
    text-decoration: line-through;
}
#input {
    width: 300px;
}
#input:focus {
    border: 2px solid #6dd8e4;
}