
[class^="k"] {
    display: grid;
    place-items: center;
    border: 1px solid #6de4da;
}

[class^="k"]:hover {
    background-color: #6de4da;
    color: white;
}

.container {
    display: grid;
    width: 1600px;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
#input{
    border-color: #6de4da;
}